* {
	padding: 0px;
	margin: 0px;
}


/*header css*/

.top-header {
	background-color: #333;
	position: relative;
	padding: 1em 0;
}

.logo {
	position: absolute;
	top: 0px;
	z-index: 999;
}

.glyphicon-road:before {
	color: #fff;
	font-size: 0.7em;
	margin-right: 5px;
}

.logo a {
	background-color: #73eac4;
	padding: 1.6em 0.7em;
	display: inline-block;
	color: #fff;
	font-family: 'TitilliumWeb-Bold';
	text-decoration: none;
}

.logo h1 a {
	font-weight: bold;
}

.logo h1 a:hover {
	text-decoration: none;
	color: #fff;
}


/*top-menu*/

.top-menu {
	border-bottom: 1px solid #E7E7E7;
}

.content.white {
	background: #fff;
	width: 80%;
	margin-left: 12em;
}

.content.balck {
	background: #000;
}

.content.black p {
	color: #999;
}

.content.balck p a {
	color: #08c;
}

@media only screen and (max-width:480px) {
	.content {
		width: 90%;
		margin: 50px auto;
		padding: 10px;
	}
}

@media only screen and (max-width:767px) {
	.dropdown-menu.multi-column {
		min-width: 240px !important;
		overflow-x: hidden;
	}
}

.navbar-default {
	background-color: transparent;
	border-color: #fff;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
	color: #fd7364;
	background-color: #fff;
}

.navbar-default .navbar-collapse {
	border-color: #fff!important;
}

.caret {
	margin-left: 6px;
}

ul.nav.navbar-nav li a {
	padding: 1.7em 1.3em;
	font-family: 'TitilliumWeb-Regular';
	font-size: 1.1em;
	color: #333;
}

ul.nav.navbar-nav li a:hover {
	color: #fd7364;
}

.dropdown-menu {
	min-width: 200px;
}

.dropdown-menu.columns-2 {
	min-width: 400px;
}

.dropdown-menu.columns-3 {
	min-width: 600px;
}

.dropdown-menu li a {
	padding: 5px 15px;
	font-weight: 300;
}

.multi-column-dropdown {
	list-style: none;
}

.multi-column-dropdown li a {
	display: block;
	clear: both;
	line-height: 1.428571429;
	color: #333;
	white-space: normal;
}

.multi-column-dropdown li a:hover {
	text-decoration: none;
	color: #262626;
	background-color: #f5f5;
}

ul.dropdown-menu li a {
	padding: 0.6em!important;
}

ul.nav.navbar-nav li {
	border-right: 1px solid #E7E7E7;
}

.navbar {
	margin-bottom: 0px;
}


/*banner*/

.banner {
	background: url(../img/bnr3.jpg) no-repeat 0px 0px;
	background-size: cover;
	min-height: 750px;
	position: relative;
}

.package {
	background: rgba(253, 115, 100, 0.68);
	padding: 2em 3em 2em 4em;
	position: relative;
}

.package h3 a {
	font-family: 'TitilliumWeb-Bold';
	font-size: 1.3em;
	color: #fff;
	display: inline-block;
	text-decoration: none;
}

.banner-grids {
	position: absolute;
	bottom: -35px;
	left: 17%;
	width: 65%;
}

.banner-grids ul li {
	float: left;
	list-style: none;
	color: #fff;
	margin: 0 3px;
}

.banner-grids .glyphicon1 {
	font-size: 32px;
	color: #fff;
}

.welcome {
	padding: 6em 0 5em;
}

.wel-info h2 {
	font-size: 2.5em;
	color: #73EAC4;
	font-family: 'TitilliumWeb-Bold';
}

.wel-info h4 {
	font-size: 1em;
	text-transform: uppercase;
	color: #333;
	margin: 0.85em 0;
	line-height: 1.7em;
}


/*choose*/

.choose {
	background: url(../img/why.jpg)no-repeat 0px 0px;
	background-size: cover;
	min-height: 400px;
}

.choose h3 {
	background: #fd7364;
	padding: 0.5em 0;
	color: #fff;
	font-size: 1.5em;
	text-align: center;
	font-family: 'TitilliumWeb-Regular';
}

.choos-grids {
	padding: 5em 0 4em;
}

.glyphicon-user:before,
.glyphicon-heart:before,
.glyphicon-bullhorn:before {
	color: #fff;
	font-size: 70px;
}

.choos-grid {
	text-align: center;
}

.choos-grid h4 {
	color: #fff;
	font-family: 'TitilliumWeb-Bold';
	font-size: 1.6em;
	margin-top: 0.7em;
}

.choos-grid p {
	font-size: 0.9em;
	color: #fff;
	margin-top: 1em;
	line-height: 1.7em;
}


/*--testimonal--*/

.testimonal {
	padding: 3em 0 4em;
	background: rgba(243, 243, 243, 0.37);
}

.testi-top,
.destination-top,
.subscrib-top {
	text-align: center;
}

.testi-top h3,
.destination-top h3,
.subscrib-top h3 {
	font-size: 2.2em;
	color: #73eac4;
	font-family: 'TitilliumWeb-Bold';
}

.testi-top p,
.destination-top p,
.subscrib-top p {
	color: #999;
	font-size: 0.9em;
	line-height: 1.7em;
	width: 60%;
	margin: 0.5em auto 0 auto;
}

.slider2 {
	position: relative;
}

.slider {
	position: relative;
}

.rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}

.rslides div.slid {
	-webkit-backface-visibility: hidden;
	width: 100%;
	left: 0;
	top: 0;
}

.rslides img {
	display: block;
	height: auto;
	float: left;
	width: 100%;
	border: 0;
}

.testimonial-grids {
	width: 90%;
	height: 300px;
	margin: 0 auto;
}

.testimonial-left {
	width: 14%;
	float: left;
	margin-top: 50px;
}

.testimonial-left img {
	border-radius: 50%;
	width: 100%;
}

.testimonial-right {
	float: left;
	width: 82%;
	margin: 2em 0 0 2em;
}

.testi-slider {
	padding: 3em 2em;
	margin-top: 2em;
	background: #fff;
}

.testimonial-right h5 {
	color: #fd7364;
	font-family: 'TitilliumWeb-Regular';
	margin-top: 1em;
	font-size: 1.6em;
}

.testimonial-right h6 {
	font-size: 0.75em;
	color: #333;
	margin-top: 8px;
}

.testimonial-right p {
	color: #999;
	font-size: 0.9em;
	margin: 1em 0 0 0;
	line-height: 1.8em;
}

.testimonial-right p span {
	font-size: 2em;
	line-height: .1em;
	vertical-align: middle;
}

.callbacks_tabs a:after {
	content: "\f111";
	font-size: 0;
	font-family: FontAwesome;
	visibility: visible;
	display: block;
	height: 15px;
	width: 15px;
	display: inline-block;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	background: transparent;
	border: 2px solid #73eac4;
}

.callbacks_here a:after {
	background: #73eac4;
}

.callbacks_tabs a {
	visibility: hidden;
}

.callbacks_tabs li {
	display: inline-block;
}

.callbacks_nav {
	position: absolute;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	top: 41%;
	left: 14%;
	opacity: 0.7;
	z-index: 3;
	text-indent: -9999px;
	overflow: hidden;
	text-decoration: none;
	height: 61px;
	width: 38px;
	background: orange url("../images/themes.png") no-repeat left top;
	margin-top: -45px;
}

.callbacks_nav.next {
	left: auto;
	background-position: right top;
	right: 14%;
}

ul.callbacks_tabs.callbacks_tabs {
	position: absolute;
	z-index: 999;
	left: 46%;
}

.testimonal .carousel ol li {
	border: 1px solid dodgerblue;
}

.testimonal .carousel ol li.active {
	background: dodgerblue;
}


/*destinations*/

.destinations {
	padding: 3em 0;
}

.destination-top h1 {
	font-size: 2.2em;
	font-weight: 800;
	color: #73eac4;
	font-family: 'TitilliumWeb-Bold';
}

.destination-top p {
	color: #999;
	font-size: 1.0em;
	line-height: 1.7em;
	width: 60%;
	margin: 0.5em auto 0 auto;
}

.destinations .row {
	margin-top: 2em;
}

.destination-info {
	border: 1px solid #eee;
	text-align: center;
}

.destination-info h4 a {
	cursor: pointer;
	color: #fd7364;
	font-weight: 800;
	margin-bottom: 8px;
	text-decoration: none;
	font-family: 'TitilliumWeb-Bold';
}

.destination-info h4 a:hover {
	color: #73eac4;
}

.destination-info p {
	color: #999;
	font-size: 0.9em;
	line-height: 1.7em;
	margin: 0.5em;
}

.destinations .col-sm-4 img {
	width: 100%;
}

.modal-body .carousel-control {
	display: none;
}

.modal-body:hover a {
	display: block;
}


/*footer*/

.footer {
	background-color: #EEEEEE;
	padding: 2em 0;
}

.footer .col-sm-6 h4 {
	font-size: 1.6em;
	font-family: 'TitilliumWeb-Regular';
	font-weight: 600;
	color: #73eac4;
	margin: 0 0 0.5em 0;
}

.footer .col-sm-6 p {
	color: #777;
	line-height: 1.8em;
	font-size: 0.9em;
}

.iconfonts {
	margin-top: 1em;
}

.iconfonts i {
	width: 27px;
	height: 27px;
	background: url(../img/social.png) no-repeat 0px 0px;
	display: inline-block;
	margin: 0 5px;
}

a i.facebook {
	background-position: -3px -2px;
}

a i.twitter {
	background-position: -43px -3px;
}

a i.dribble {
	background-position: -83px -3px;
}

a i.google {
	background-position: -126px -2px
}

a i.youtube {
	background-position: -167px -3px;
}

a i.facebook:hover {
	background-position: -3px -36px;
}

a i.twitter:hover {
	background-position: -43px -36px;
}

a i.dribble:hover {
	background-position: -83px -36px;
}

a i.google:hover {
	background-position: -126px -36px
}

a i.youtube:hover {
	background-position: -167px -36px;
}

.footer_news form input[type="text"] {
	width: 72%;
	padding: 12px 12px;
	float: left;
	color: #333;
	outline: none;
	background: none;
	border: none;
	background: #fff;
	font-size: 0.9em;
}

.footer_news form input[type="submit"] {
	width: 23%;
	color: #fff;
	border: 2px solid #fd7364;
	outline: none;
	padding: 10px 12px;
	background: #fd7364;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	float: left;
	font-size: 0.9em;
}


/*copy*/

.copy {
	padding: 1em 0;
	text-align: center;
}

.copy p {
	color: #777;
	line-height: 1.8em;
	font-size: 0.8em;
}

.copy p a {
	text-decoration: none;
}

#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 5px;
	right: 3%;
	overflow: hidden;
	width: 40px;
	height: 40px;
}

.glyphicon-chevron-up {
	font-size: 2em;
}


/*响应式部分*/

@media only screen and (min-width:1080px) {
	ul.nav.navbar {
		border-radius: 4px;
	}
	ul.nav.navbar {
		position: relative;
		min-height: 50px;
		border: 1px solid transparent;
		display: block;
	}
}

@media only screen and (max-width:1079px) {
	ul.nav.navbar-nav {
		display: none;
	}
	.banner-grids {
		left: 3%;
		width: 94%;
	}
	.banner-grid {
		width: 100%;
	}
	.grid1 {
		margin-bottom: 1.5em;
	}
}